body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.memberByDept {
  display: flex;
}

.tripStays {
  display: flex;
  flex-direction: column;
}

.tripStays1 {
  flex: 1;
}
.tripStays2 {
  flex: 1;
}
h4 {
  text-align: center;
}